body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  margin: 0% 5% 0% 5%;
  text-align: center;
}

.TwirlyPig {
  transition: all 3s ease-in-out;
  display: inline;
}

.TwirlyPig:hover {
  transform: scale(1.5);
}

.navWrapper {
  margin-bottom: 2%;
}

.filterWrapper {
  margin: 2% 0% 2% 0%;
}

.headerText {
  color: #F5A9BC;
  font-size: 3em;
  margin: 0% 2% 0% 2%;
}

.largeHeader {
  font-size: 3.5em;
  font-weight: bold;
  color: #3B0B0B;
}

.smallHeader {
  font-size: 1.75em;
  font-weight: bold;
  color: #3B0B0B;
}

.normalText {
  font-family: Georgia, serif;
  font-size: 0.75em;
}

.hoggyText {
  font-size: 1.5em;
}

.achievementText {
  color: purple;
}

ul {
  list-style-type: none;
}

.normalText ul {
  font-family: Georgia, serif;
  font-size: 0.75em;
  text-align: left;
}

.subtleText {
  color: #D1D1D1;
  font-size: 0.75em;
}

.indexWrapper {
  margin: auto;
}

.hog-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 20px;
  justify-content: space-around;
}

.hog-tile {
  flex: 1 1 250px;
  max-width: 280px;
  min-width: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.hog-tile img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 8px;
}

.hog-tile h3 {
  color: #3B0B0B;
  margin-top: 8px;
  font-size: 1.5em;
}

.hog-tile button {
  margin-top: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hog-tile button:hover {
  background-color: #d32f2f;
}

.pigTile:hover {
  transform: scale(1.05);
}

.hog-details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 300px;
  text-align: center;
}

.hog-details button {
  margin-top: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hog-details button:hover {
  background-color: #d32f2f;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 80px;
  transition: all 0.2s ease-in-out;
}

.footer {
  padding: 1%;
  clear: both;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
